.edgt-page,
.edgt-meta-box {
  /* ==========================================================================
     Messages styles
     ========================================================================== */ }
  .edgt-page .btn-default:hover
  .btn-default:active,
  .edgt-page .btn-default.active,
  .edgt-page .btn-default:hover,
  .edgt-page .btn-default:active,
  .edgt-page .btn-default.active,
  .edgt-meta-box .btn-default:hover
  .btn-default:active,
  .edgt-meta-box .btn-default.active,
  .edgt-meta-box .btn-default:hover,
  .edgt-meta-box .btn-default:active,
  .edgt-meta-box .btn-default.active {
    background-color: transparent; }
  .edgt-page .btn-primary:hover,
  .edgt-page .btn-primary:active,
  .edgt-page .btn-primary.active,
  .edgt-page .btn-primary:hover,
  .edgt-page .btn-primary:active,
  .edgt-page .btn-primary.active,
  .edgt-meta-box .btn-primary:hover,
  .edgt-meta-box .btn-primary:active,
  .edgt-meta-box .btn-primary.active,
  .edgt-meta-box .btn-primary:hover,
  .edgt-meta-box .btn-primary:active,
  .edgt-meta-box .btn-primary.active {
    background-color: #bba011; }
  .edgt-page .btn-info:hover,
  .edgt-page .btn-info:focus,
  .edgt-page .btn-info:active,
  .edgt-page .btn-info.active,
  .edgt-page .btn-info:hover,
  .edgt-page .btn-info:focus,
  .edgt-page .btn-info:active,
  .edgt-page .btn-info.active,
  .edgt-meta-box .btn-info:hover,
  .edgt-meta-box .btn-info:focus,
  .edgt-meta-box .btn-info:active,
  .edgt-meta-box .btn-info.active,
  .edgt-meta-box .btn-info:hover,
  .edgt-meta-box .btn-info:focus,
  .edgt-meta-box .btn-info:active,
  .edgt-meta-box .btn-info.active {
    border-color: #bba011;
    color: #bba011; }
  .edgt-page .btn,
  .edgt-meta-box .btn {
    border: 1px solid transparent;
    padding: 8px 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  .edgt-page .btn:active,
  .edgt-meta-box .btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .edgt-page .btn-sm:focus,
  .edgt-meta-box .btn-sm:focus {
    border: none;
    outline: none;
    background-color: #fff;
    color: #bba011; }
  .edgt-page .btn-primary,
  .edgt-meta-box .btn-primary {
    background-color: #bba011; }
  .edgt-page .btn-primary:hover,
  .edgt-meta-box .btn-primary:hover {
    border: none;
    background-color: transparent;
    color: #bba011;
    border: 1px solid #bba011; }
  .edgt-page .btn-default,
  .edgt-meta-box .btn-default {
    background-color: #ABB7C7;
    color: #fff;
    margin-left: 3px; }
  .edgt-page .btn-info,
  .edgt-meta-box .btn-info {
    background-color: #bba011;
    color: #fff; }
  .edgt-page .nav > li > a,
  .edgt-meta-box .nav > li > a {
    padding: 0; }
  .edgt-page .nav-tabs > li > a,
  .edgt-meta-box .nav-tabs > li > a {
    border: none; }
  .edgt-page .nav-tabs > li,
  .edgt-meta-box .nav-tabs > li {
    margin-bottom: 0; }
  .edgt-page .edgt-tabs-wrapper .nav-tabs,
  .edgt-meta-box .edgt-tabs-wrapper .nav-tabs {
    margin-top: 0; }
  .edgt-page .edgt-tabs-wrapper .nav-tabs > li.active > a,
  .edgt-meta-box .edgt-tabs-wrapper .nav-tabs > li.active > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-left-color: transparent; }
  .edgt-page .edgt-tabs-wrapper .nav-tabs > li.active > a:hover,
  .edgt-page .edgt-tabs-wrapper .nav-tabs > li.active > a:focus,
  .edgt-meta-box .edgt-tabs-wrapper .nav-tabs > li.active > a:hover,
  .edgt-meta-box .edgt-tabs-wrapper .nav-tabs > li.active > a:focus {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  .edgt-page .edgt-tabs-wrapper .nav-tabs > li a > i,
  .edgt-meta-box .edgt-tabs-wrapper .nav-tabs > li a > i {
    width: 19px; }
  .edgt-page .edgt-tabs-wrapper .edgt-tabs-content,
  .edgt-meta-box .edgt-tabs-wrapper .edgt-tabs-content {
    background-color: #fcfcfc;
    padding: 20px 20px 20px 20px; }
  .edgt-page .edgt-tabs-wrapper.vertical .nav-tabs,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .nav-tabs {
    border-bottom: 0; }
  .edgt-page .edgt-tabs-wrapper.vertical .nav-tabs > li,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .nav-tabs > li {
    float: none;
    border-bottom: 1px solid #191919;
    width: 100%; }
  .edgt-page .edgt-tabs-wrapper.vertical .nav-tabs > li.active a,
  .edgt-page .edgt-tabs-wrapper.vertical .nav-tabs > li.active a:focus,
  .edgt-page .edgt-tabs-wrapper.vertical .nav-tabs > li.active a:hover,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .nav-tabs > li.active a,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .nav-tabs > li.active a:focus,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .nav-tabs > li.active a:hover {
    border-bottom: 0px solid #566269;
    margin-bottom: 0;
    background-color: #bba011;
    border-left: none; }
  .edgt-page .edgt-tabs-wrapper.vertical .nav-tabs > li a:focus,
  .edgt-page .edgt-tabs-wrapper.vertical .nav-tabs > li a:hover,
  .edgt-page .edgt-tabs-wrapper.vertical.left .nav-tabs > li.active > a,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .nav-tabs > li a:focus,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .nav-tabs > li a:hover,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .nav-tabs > li.active > a {
    background-color: #080808;
    color: #fff;
    border-left: none; }
  .edgt-page .edgt-tabs-navigation-wrapper .nav-tabs li > a > i,
  .edgt-meta-box .edgt-tabs-navigation-wrapper .nav-tabs li > a > i {
    -webkit-transition: "color 0.3s ease-in-out";
    -moz-transition: "color 0.3s ease-in-out";
    -ms-transition: "color 0.3s ease-in-out";
    -o-transition: "color 0.3s ease-in-out";
    transition: "color 0.3s ease-in-out"; }
  .edgt-page .edgt-tabs-wrapper.vertical .edgt-tabs-navigation-wrapper,
  .edgt-page .edgt-tabs-wrapper.vertical .edgt-tabs-content,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .edgt-tabs-navigation-wrapper,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .edgt-tabs-content {
    min-height: 300px; }
  .edgt-page .edgt-tabs-wrapper.vertical .edgt-tabs-navigation-wrapper,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .edgt-tabs-navigation-wrapper {
    width: 226px;
    /*was 199*/ }
  .edgt-page .edgt-tabs-wrapper.vertical .edgt-tabs-content,
  .edgt-meta-box .edgt-tabs-wrapper.vertical .edgt-tabs-content {
    margin-left: 226px;
    background-color: #EBEFF2;
    color: #34383C;
    min-height: 780px; }
  .edgt-page .edgt-tabs-wrapper.vertical.left .nav-tabs > li:first-child > a,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .nav-tabs > li:first-child > a {
    border-top: none; }
  .edgt-page .edgt-tabs-wrapper.vertical.left .nav-tabs > li > a,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .nav-tabs > li > a {
    font-size: 13px;
    color: #fff;
    padding-left: 30px;
    border-left: none;
    margin-right: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    border-radius: 0; }
  .edgt-page .edgt-tabs-wrapper.vertical.left .nav-tabs > li > a:hover,
  .edgt-page .edgt-tabs-wrapper.vertical.left .nav-tabs > li.active > a,
  .edgt-page .edgt-tabs-navigation-wrapper .nav-tabs li > a:hover > i,
  .edgt-page .edgt-tabs-wrapper.vertical.left .nav-tabs > li.active > a i,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .nav-tabs > li > a:hover,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .nav-tabs > li.active > a,
  .edgt-meta-box .edgt-tabs-navigation-wrapper .nav-tabs li > a:hover > i,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .nav-tabs > li.active > a i {
    color: #bba011; }
  .edgt-page .edgt-tabs-wrapper.vertical.left .nav-tabs > li > a span,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .nav-tabs > li > a span {
    display: inline-block;
    padding: 10px; }
  .edgt-page .edgt-tabs-wrapper.vertical.left .edgt-tabs-navigation-wrapper,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.left .edgt-tabs-navigation-wrapper {
    float: left;
    background-color: #111; }
  .edgt-page .edgt-tabs-wrapper.vertical.right .edgt-tabs-navigation-wrapper,
  .edgt-page .edgt-tabs-wrapper.vertical.right .edgt-tabs-wrapper.vertical.right .edgt-tabs-content,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.right .edgt-tabs-navigation-wrapper,
  .edgt-meta-box .edgt-tabs-wrapper.vertical.right .edgt-tabs-wrapper.vertical.right .edgt-tabs-content {
    float: right; }
  .edgt-page #back_to_top,
  .edgt-meta-box #back_to_top {
    color: #fff;
    height: auto;
    position: fixed;
    bottom: 65px;
    margin: 0;
    z-index: 101;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    right: 38px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }
  .edgt-page #back_to_top.on,
  .edgt-meta-box #back_to_top.on {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    right: 38px; }
  .edgt-page #back_to_top > span,
  .edgt-meta-box #back_to_top > span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background: transparent;
    text-align: center;
    border: 2px solid #bba011;
    color: #bba011;
    opacity: .5;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s; }
  .edgt-page #back_to_top:hover > span,
  .edgt-meta-box #back_to_top:hover > span {
    background-color: #bba011;
    border-color: #bba011;
    opacity: 1;
    color: #fff; }
  .edgt-page .edgt-page-content-wrapper .edgt-page-message .alert,
  .edgt-meta-box .edgt-page-content-wrapper .edgt-page-message .alert {
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  .edgt-page .cb-enable, .edgt-page .cb-disable, .edgt-page .cb-enable span, .edgt-page .cb-disable span,
  .edgt-meta-box .cb-enable,
  .edgt-meta-box .cb-disable,
  .edgt-meta-box .cb-enable span,
  .edgt-meta-box .cb-disable span {
    display: block;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .edgt-page .switch-type .cb-enable, .edgt-page .switch-type .cb-disable, .edgt-page .switch-type .cb-enable span, .edgt-page .switch-type .cb-disable span,
  .edgt-meta-box .switch-type .cb-enable,
  .edgt-meta-box .switch-type .cb-disable,
  .edgt-meta-box .switch-type .cb-enable span,
  .edgt-meta-box .switch-type .cb-disable span {
    display: block;
    float: left; }
  .edgt-page .field.switch,
  .edgt-meta-box .field.switch {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .edgt-page .cb-enable span,
  .edgt-page .cb-disable span,
  .edgt-page .switch-type .cb-enable span,
  .edgt-page .switch-type .cb-disable span,
  .edgt-meta-box .cb-enable span,
  .edgt-meta-box .cb-disable span,
  .edgt-meta-box .switch-type .cb-enable span,
  .edgt-meta-box .switch-type .cb-disable span {
    line-height: 29px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold; }
  .edgt-page .cb-enable span,
  .edgt-page .switch-type .cb-enable span,
  .edgt-meta-box .cb-enable span,
  .edgt-meta-box .switch-type .cb-enable span {
    background-color: #fff;
    padding: 0 10px;
    color: #8D9CA6; }
  .edgt-page .cb-disable span,
  .edgt-page .switch-type .cb-disable span,
  .edgt-meta-box .cb-disable span,
  .edgt-meta-box .switch-type .cb-disable span {
    color: #8D9CA6;
    padding: 0 13px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .edgt-page .cb-disable span:hover,
  .edgt-meta-box .cb-disable span:hover {
    background-color: #dce0e6;
    color: #fff; }
  .edgt-page .cb-enable span:hover,
  .edgt-meta-box .cb-enable span:hover {
    background-color: rgba(187, 160, 17, 0.2);
    color: #fff; }
  .edgt-page .cb-disable.selected,
  .edgt-meta-box .cb-disable.selected {
    background: #7d7d7d;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .edgt-page .cb-disable.selected span,
  .edgt-meta-box .cb-disable.selected span {
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .edgt-page .cb-enable.selected,
  .edgt-meta-box .cb-enable.selected {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .edgt-page .cb-enable.selected span,
  .edgt-meta-box .cb-enable.selected span {
    background-color: #bba011;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .edgt-page .switch label,
  .edgt-meta-box .switch label {
    cursor: pointer; }
  .edgt-page .switch input,
  .edgt-meta-box .switch input {
    display: none; }
  .edgt-page .field.switch input[type=checkbox]:checked:before,
  .edgt-meta-box .field.switch input[type=checkbox]:checked:before {
    content: ''; }
  .edgt-page .edgt-page .switch .checkbox,
  .edgt-meta-box .edgt-page .switch .checkbox {
    display: none; }
  .edgt-page .thumbnail,
  .edgt-meta-box .thumbnail {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0; }
  .edgt-page .img-thumbnail,
  .edgt-meta-box .img-thumbnail {
    margin-bottom: 15px;
    max-width: 100px; }
  .edgt-page .wp-color-result,
  .edgt-meta-box .wp-color-result {
    height: auto;
    outline: none; }

/* used on blog post formats for video cover image upload */
input.upload_button {
  border: 1px solid #acacac;
  border-radius: 3px 3px 3px 3px;
  color: #444;
  padding: 2px;
  width: auto; }

/* tinymce in portfolio */
/* used in multiple images upload for portfolio */
.edgt-gallery-images-holder li.edgt-gallery-image-holder {
  float: left;
  margin: 0 20px 20px 0;
  width: 100px; }

.edgt-gallery-images-holder li.edgt-gallery-image-holder img {
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd; }

/* Edge Slider custom fields - start*/
.form-field.slider-field input {
  width: auto; }

.form-field.slider-field .inline label {
  float: left;
  line-height: 28px;
  margin-right: 5px; }

.inline {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  font-size: 13px; }

/* Edge Slider custom fields - end*/

/*# sourceMappingURL=edgt-ui.css.map */
