
.thumbnail {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border: none;
	padding: 0;
}

.img-thumbnail {
	margin-bottom: 15px;
	max-width: 100px;
}