@include large-laptop {

    .edgt-header-standard {
        .edgt-vertical-align-containers {
            padding: 0 39px;
        }
    }

    .edgt-header-centered {
        .edgt-vertical-align-containers {
            padding: 0 39px;
        }
    }

    .edgt-header-minimal {
        .edgt-vertical-align-containers {
            padding: 0 39px;
        }
    }
}

.edgt-drop-down .wide .second > .inner > ul {
	@include laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

}

.edgt-boxed {
	.edgt-page-header .edgt-sticky-header,
	.edgt-page-header .edgt-fixed-wrapper.fixed {
		@include laptop-landscape {
			width: $grid-width-laptop-landscape-boxed;
		}
	}

	&.edgt-sticky-up-mobile-header .mobile-header-appear .edgt-mobile-header-inner {
		@include ipad-landscape {
			width: $grid-width-ipad-landscape-boxed;
			left: auto;
		}

		@include ipad-portrait {
			width: $grid-width-ipad-portrait-boxed;
		}

		@include phone-landscape {
			width: $grid-width-phone-landscape-boxed;
		}

		@include phone-portrait {
			width: $grid-width-phone-portrait-boxed;
		}

		@include smaller-phone-portrait {
			width: $grid-width-smaller-phone-portrait-boxed;
		}
	}
}

@include large-laptop {

    .edgt-main-menu > ul > li > a span.item_inner{
        padding: 8px 15px;
    }
}

@include laptop-landscape {
    .edgt-fullscreen-search-holder .edgt-search-submit {
        float: left !important;
    }

    .edgt-main-menu > ul > li > a span.item_inner{
        padding: 6px 12px;
    }
}

@include ipad-landscape {

	.edgt-vertical-align-containers {
		.edgt-position-center-inner {
			height: auto;
		}
	}
	.edgt-header-standard .edgt-vertical-align-containers {
		padding: 0;
	}
    .edgt-page-header{
        display: none;
    }

    .edgt-mobile-header {
        display: block;
    }
}