/* ==========================================================================
# Portfolio Single Big Images - begin
========================================================================== */

.edgt-portfolio-single-holder.big-images {

	.edgt-portfolio-item-title {
		margin-bottom: 21px;
	}

	.edgt-big-image-holder {
		margin-bottom: 54px;
	}

	.edgt-portfolio-single-media {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.edgt-portfolio-item-content {
		margin-top: 0;
		margin-bottom: 0;
	}

}

/* ==========================================================================
# Portfolio Single Big Images - end
========================================================================== */