/* ==========================================================================
# Portfolio Single Big Slider - begin
========================================================================== */

.edgt-portfolio-single-holder.big-slider {
	.edgt-portfolio-item-title {
		margin-bottom: 21px;
	}

	.edgt-big-image-holder {
		margin-bottom: 54px;
	}

	.edgt-portfolio-item-content {
		margin-top: 0;
		margin-bottom: 0;
	}

	.edgt-slick-slider {
		opacity: 0;
	}
}

/* ==========================================================================
# Portfolio Single Big Slider - end
========================================================================== */