/* ==========================================================================
# Portfolio Single Small Slider - begin
========================================================================== */

.edgt-portfolio-single-holder.small-slider {
	.edgt-portfolio-item-content {
		margin-top: 34px;
	}

	.edgt-portfolio-author-holder {
		margin: 34px 0 30px;
	}

	.edgt-portfolio-fields {
		padding: 42px 40px 21px;

		.edgt-portfolio-item-social {
			padding-top: 27px;
		}
	}

	.edgt-slick-slider {
		opacity: 0;

	}

	.edgt-slick-slider {
		opacity: 0;

	}
}

/* ==========================================================================
# Portfolio Single Small Slider - end
========================================================================== */