/* Global Responsive styles
   ========================================================================== */
/*------------------------------------------------------------------
 * This is BBPress responsive css file for theme. It is broken into following sections:
 * 1.  Global Responsive

-------------------------------------------------------------------*/
/* ==========================================================================
   1. BBPress responsive styles
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  #bbpress-forums div.bbp-topic-tags {
    display: inline-block;
  }
  #bbpress-forums li.bbp-body ul.forum li.bbp-forum-freshness > a,
  #bbpress-forums li.bbp-body ul.forum li.bbp-topic-freshness > a,
  #bbpress-forums li.bbp-body ul.topic li.bbp-forum-freshness > a,
  #bbpress-forums li.bbp-body ul.topic li.bbp-topic-freshness > a {
    font-size: 11px;
  }
  #bbpress-forums #bbp-user-body .bbp-header ul li.bbp-topic-title,
  #bbpress-forums #bbp-user-body .bbp-body ul li.bbp-topic-title {
    width: 44%;
  }
  #bbpress-forums #bbp-user-body .bbp-header ul li.bbp-topic-voice-count,
  #bbpress-forums #bbp-user-body .bbp-header ul li.bbp-topic-reply-count,
  #bbpress-forums #bbp-user-body .bbp-body ul li.bbp-topic-voice-count,
  #bbpress-forums #bbp-user-body .bbp-body ul li.bbp-topic-reply-count {
    width: 15%;
  }
  #bbpress-forums #bbp-user-body .bbp-header ul li.bbp-topic-freshness,
  #bbpress-forums #bbp-user-body .bbp-body ul li.bbp-topic-freshness {
    width: 26%;
  }
}

@media only screen and (max-width: 1200px) {
  #bbpress-forums #bbp-your-profile fieldset > div label[for] {
    width: 30%;
    padding: 5px 11px 5px 0px;
  }
  #bbpress-forums #bbp-your-profile fieldset > div input {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  #bbpress-forums .forum-titles > li.bbp-forum-info,
  #bbpress-forums .forum-titles > li.bbp-topic-title,
  #bbpress-forums .bbp-body > ul > li.bbp-forum-info,
  #bbpress-forums .bbp-body > ul > li.bbp-topic-title {
    width: 55%;
  }
  #bbpress-forums .forum-titles > li.bbp-forum-topic-count,
  #bbpress-forums .forum-titles > li.bbp-topic-voice-count,
  #bbpress-forums .forum-titles > li.bbp-forum-reply-count,
  #bbpress-forums .forum-titles > li.bbp-topic-reply-count,
  #bbpress-forums .bbp-body > ul > li.bbp-forum-topic-count,
  #bbpress-forums .bbp-body > ul > li.bbp-topic-voice-count,
  #bbpress-forums .bbp-body > ul > li.bbp-forum-reply-count,
  #bbpress-forums .bbp-body > ul > li.bbp-topic-reply-count {
    width: 12%;
  }
  #bbpress-forums .forum-titles > li.bbp-forum-freshness,
  #bbpress-forums .forum-titles > li.bbp-topic-freshness,
  #bbpress-forums .bbp-body > ul > li.bbp-forum-freshness,
  #bbpress-forums .bbp-body > ul > li.bbp-topic-freshness {
    width: 21%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  #bbpress-forums .bbp-forums .forum-titles .bbp-forum-topic-count,
  #bbpress-forums .bbp-forums .forum-titles .bbp-forum-reply-count,
  #bbpress-forums .bbp-forums .forum-titles .bbp-forum-freshness {
    display: none;
  }
  #bbpress-forums .bbp-forums .bbp-body .bbp-forum-topic-count,
  #bbpress-forums .bbp-forums .bbp-body .bbp-forum-reply-count,
  #bbpress-forums .bbp-forums .bbp-body .bbp-forum-freshness {
    display: none;
  }
  #bbpress-forums .bbp-forums .bbp-body .bbp-forum-info {
    width: 100%;
    padding-right: 0;
  }
  #bbpress-forums .bbp-topics .forum-titles .bbp-topic-voice-count,
  #bbpress-forums .bbp-topics .forum-titles .bbp-topic-reply-count,
  #bbpress-forums .bbp-topics .forum-titles .bbp-topic-freshness {
    display: none;
  }
  #bbpress-forums .bbp-topics .bbp-body .bbp-topic-voice-count,
  #bbpress-forums .bbp-topics .bbp-body .bbp-topic-reply-count,
  #bbpress-forums .bbp-topics .bbp-body .bbp-topic-freshness {
    display: none;
  }
  #bbpress-forums .bbp-topics .bbp-body .bbp-forum-info {
    width: 100%;
    padding-right: 0;
  }
  #bbpress-forums div.bbp-search-form,
  #bbpress-forums .bbp-breadcrumb,
  #bbpress-forums > #subscription-toggle {
    float: none;
  }
  #bbpress-forums #bbp-search-form #bbp_search {
    width: 100%;
  }
  #bbpress-forums div.bbp-template-notice,
  #bbpress-forums div.indicator-hint,
  #bbpress-forums .bbp-admin-links {
    display: none;
  }
  #bbpress-forums fieldset.bbp-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  #bbpress-forums #bbp-your-profile fieldset > div label[for] {
    width: 100%;
    text-align: left;
    padding: 5px 11px 5px 0px;
  }
  #bbpress-forums #bbp-your-profile fieldset > div input {
    width: 100%;
  }
  #bbpress-forums #bbp-your-profile fieldset textarea,
  #bbpress-forums #bbp-your-profile fieldset fieldset.password {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #bbpress-forums .bbp-body div.bbp-reply-author {
    margin: 0;
    min-height: 70px;
  }
  #bbpress-forums .bbp-body div.bbp-reply-content {
    margin-left: 0;
    margin-right: 0;
  }
  #bbpress-forums div.bbp-reply-author img.avatar {
    top: 0;
    margin-top: 0;
  }
  #bbpress-forums li.bbp-body div.hentry {
    padding-top: 16px;
  }
  #bbpress-forums li.bbp-header .bbp-reply-content {
    display: none;
  }
  #bbpress-forums li.bbp-header .bbp-reply-author {
    float: none;
  }
  #bbpress-forums #bbp-single-user-details {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=bbpress-responsive.css.map */