.edgt-blog-holder.edgt-blog-type-masonry.edgt-masonry-full-width {
  margin: 0 12px;
}

.edgt-blog-holder.edgt-blog-type-masonry, .edgt-blog-list-holder.edgt-masonry {
  margin: 0 -12px;
}

.edgt-blog-holder.edgt-blog-type-masonry article, .edgt-blog-list-holder.edgt-masonry article {
  display: block;
  padding: 0 12px;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-social-share-holder.edgt-dropdown .edgt-social-share-dropdown, .edgt-blog-list-holder.edgt-masonry article .edgt-social-share-holder.edgt-dropdown .edgt-social-share-dropdown {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry article:hover, .edgt-blog-list-holder.edgt-masonry article:hover {
  z-index: 101;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-image, .edgt-blog-list-holder.edgt-masonry article .edgt-post-image {
  line-height: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-image a, .edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-image img, .edgt-blog-list-holder.edgt-masonry article .edgt-post-image a, .edgt-blog-list-holder.edgt-masonry article .edgt-post-image img {
  display: block;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-content, .edgt-blog-list-holder.edgt-masonry article .edgt-post-content {
  background-color: #fff;
  border: 1px solid #e7e7e8;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-text-inner, .edgt-blog-list-holder.edgt-masonry article .edgt-post-text-inner {
  padding: 21px 25px 21px;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-excerpt, .edgt-blog-list-holder.edgt-masonry article .edgt-post-excerpt {
  margin: 7px 0;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info-category, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info-category {
  font-size: 13px;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info-category a, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info-category a {
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info-category a:hover, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info-category a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info-category a:not(:first-child):before, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info-category a:not(:first-child):before {
  content: '/';
  padding-right: 3px;
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info {
  font-family: #959595;
  padding: 13px 23px 9px;
  line-height: 27px;
  color: #a9a9a9;
  font-size: 13px;
  background-color: rgba(243, 245, 246, 0.4);
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info a, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info a {
  color: #959595;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info a:hover, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info i, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info i {
  font-size: 14px;
  padding-right: 4px;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info > div, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info > div {
  display: inline-block;
  padding-right: 23px;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info > div:last-child, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info > div:last-child {
  padding-right: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info > div.edgt-blog-share, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info > div.edgt-blog-share {
  float: right;
  padding-right: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry article .edgt-post-info .edgt-post-info-comments-icon, .edgt-blog-list-holder.edgt-masonry article .edgt-post-info .edgt-post-info-comments-icon {
  position: relative;
  top: 2px;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-gallery .slick-slider, .edgt-blog-list-holder.edgt-masonry article.format-gallery .slick-slider {
  margin-bottom: 0;
  opacity: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-link .edgt-post-text-inner, .edgt-blog-list-holder.edgt-masonry article.format-link .edgt-post-text-inner {
  padding: 20px 30px 46px;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-link .edgt-post-text-inner .edgt-masonry-icon, .edgt-blog-list-holder.edgt-masonry article.format-link .edgt-post-text-inner .edgt-masonry-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-link .edgt-post-text, .edgt-blog-list-holder.edgt-masonry article.format-link .edgt-post-text {
  background-image: url("./img/light-big-image.jpg");
  background-color: #928e75;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-link .edgt-post-title, .edgt-blog-list-holder.edgt-masonry article.format-link .edgt-post-title {
  position: relative;
  z-index: 2;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-link .edgt-post-title a, .edgt-blog-list-holder.edgt-masonry article.format-link .edgt-post-title a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-link .edgt-post-title a:hover, .edgt-blog-list-holder.edgt-masonry article.format-link .edgt-post-title a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-link .edgt-post-info, .edgt-blog-list-holder.edgt-masonry article.format-link .edgt-post-info {
  background-color: rgba(243, 245, 246, 0.1);
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-text-inner, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-text-inner {
  padding: 20px 30px 46px;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-text-inner .edgt-masonry-icon, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-text-inner .edgt-masonry-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 159px;
  color: rgba(0, 0, 0, 0.5);
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-text, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-text {
  background-image: url("./img/dark-big-image.jpg");
  background-color: #928e75;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-info-category a, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-info-category a {
  color: #fff;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-info-category a:hover, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-info-category a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-title, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-title {
  position: relative;
  z-index: 2;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-title *, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-title * {
  color: #fff;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-title * a, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-title * a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-title * a:hover, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-title * a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-title * .quote_author, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-title * .quote_author {
  color: #fff;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-info, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-info {
  color: #fff;
  background-color: rgba(243, 245, 246, 0.1);
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-info a, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-info a {
  color: #fff;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-quote .edgt-post-info a:hover, .edgt-blog-list-holder.edgt-masonry article.format-quote .edgt-post-info a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-video .edgt-post-image-video, .edgt-blog-list-holder.edgt-masonry article.format-video .edgt-post-image-video {
  position: relative;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-video .edgt-post-video, .edgt-blog-list-holder.edgt-masonry article.format-video .edgt-post-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-video .edgt-post-video .edgt-video-post-link, .edgt-blog-list-holder.edgt-masonry article.format-video .edgt-post-video .edgt-video-post-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  color: #fff;
  height: 60px;
  width: 60px;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.edgt-blog-holder.edgt-blog-type-masonry article.format-video .edgt-post-video .edgt-video-post-link span, .edgt-blog-list-holder.edgt-masonry article.format-video .edgt-post-video .edgt-video-post-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 4px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.edgt-blog-list-holder.edgt-masonry {
  visibility: hidden;
}

.edgt-blog-holder.edgt-blog-type-masonry article {
  width: 25%;
}

.edgt-page-content-holder.edgt-grid-col-8 .edgt-blog-holder.edgt-blog-type-masonry article, .edgt-page-content-holder.edgt-grid-col-8 .edgt-blog-holder.edgt-blog-type-masonry .edgt-blog-masonry-grid-sizer {
  width: 50%;
}

.edgt-page-content-holder.edgt-grid-col-9 .edgt-blog-holder.edgt-blog-type-masonry article, .edgt-page-content-holder.edgt-grid-col-9 .edgt-blog-holder.edgt-blog-type-masonry .edgt-blog-masonry-grid-sizer {
  width: 33.3333%;
}

.edgt-blog-holder.edgt-blog-type-masonry .edgt-blog-masonry-grid-sizer {
  width: 25%;
}

.edgt-blog-holder.edgt-blog-type-masonry .edgt-blog-masonry-grid-gutter {
  width: 0;
}

.edgt-blog-list-holder.edgt-masonry article {
  width: 33.3333%;
}

.edgt-blog-list-holder.edgt-masonry.edgt-four article, .edgt-blog-list-holder.edgt-masonry.edgt-four .edgt-blog-masonry-grid-sizer {
  width: 25%;
}

.edgt-blog-list-holder.edgt-masonry .edgt-blog-masonry-grid-sizer {
  width: 33.3333%;
}

.edgt-blog-list-holder.edgt-masonry .edgt-blog-masonry-grid-gutter {
  width: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery {
  opacity: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery.edgt-appeared {
  opacity: 1;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article {
  width: 25%;
  overflow: hidden;
  visibility: hidden;
}

.touch .edgt-blog-holder.edgt-blog-type-masonry-gallery article {
  visibility: visible;
}

.no-touch .edgt-blog-holder.edgt-blog-type-masonry-gallery article {
  visibility: visible;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0;
}

.no-touch .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-appeared {
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-masonry-gallery-whole-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-post-image {
  height: 100%;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-post-image a {
  display: block;
  height: 100%;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-post-image a > img {
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-post-image a:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-post-image a img {
  height: 100%;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 30px 30px 30px;
  color: #fff;
  width: 100%;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-title-date-meta {
  font-size: 15px;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-title-date-meta .edgt-post-info-category {
  position: relative;
  display: inline-block;
  z-index: 50;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-title-date-meta .edgt-post-info-category a {
  font-weight: inherit;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-title-date-meta .edgt-post-info-category a:before {
  content: "/";
  padding-right: 4px;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-title-date-meta .edgt-post-info-category a span {
  position: relative;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-title-date-meta .edgt-post-info-category a span:after {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.6, 0, 0.26, 0.99) 0.1s;
  -moz-transition: all 0.25s cubic-bezier(0.6, 0, 0.26, 0.99) 0.1s;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.26, 0.99) 0.1s;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-title-date-meta .edgt-post-info-category a:hover span:after {
  width: calc(100% + 4px);
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-title-date-inner .edgt-post-title {
  margin: 12px auto 24px;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-blog-read-more {
  position: relative;
  text-transform: uppercase;
  font-family: "Marcellus", sans-serif;
  letter-spacing: 0.5px;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-blog-read-more a {
  position: relative;
  z-index: 50;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-blog-read-more a:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.6, 0, 0.26, 0.99) 0.1s;
  -moz-transition: all 0.25s cubic-bezier(0.6, 0, 0.26, 0.99) 0.1s;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.26, 0.99) 0.1s;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date .edgt-blog-read-more a:hover:before {
  width: calc(100% + 4px);
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-title-date a {
  color: #fff;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article:hover .edgt-title-date {
  opacity: 1;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article .edgt-post-title a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote {
  background-image: url("./img/dark-big-image.jpg");
  background-color: #928e75;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-quote-author {
  display: table;
  height: 100%;
  width: 100%;
  padding: 30px 9%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-quote-author .edgt-masonry-gallery-quote-author-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-quote-author .edgt-masonry-gallery-quote-author-inner .edgt-masonry-gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 159px;
  color: rgba(0, 0, 0, 0.5);
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-quote,
.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-author {
  color: #fff;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-quote {
  margin-bottom: 5px;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-author:before {
  content: '-';
  padding-right: 1px;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-author > * {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  margin: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote:hover .edgt-masonry-gallery-quote {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-link {
  background-image: url("./img/light-big-image.jpg");
  background-color: #928e75;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-link .edgt-masonry-gallery-link {
  display: table;
  height: 100%;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-link .edgt-masonry-gallery-link .edgt-masonry-gallery-link-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-link .edgt-masonry-gallery-link .edgt-masonry-gallery-link-inner .edgt-masonry-gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 148px;
  color: rgba(0, 0, 0, 0.1);
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-link .edgt-masonry-gallery-link-title {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-link:hover .edgt-masonry-gallery-link-title {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-video .edgt-video-post-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 56px;
  color: #fff;
  text-align: center;
  z-index: 11;
  /* link holder is has z-index: 10 */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-video .edgt-video-post-link span:before {
  -webkit-transition: all 0.4s cubic-bezier(0.6, 0, 0.26, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.6, 0, 0.26, 0.99);
  transition: all 0.4s cubic-bezier(0.6, 0, 0.26, 0.99);
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-video:hover .edgt-video-post-link span:before {
  text-shadow: 0 0 2px #fff, 0 0 14px #fff, 0 0 33px #fff, 0 0 55px #fff;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-gallery .edgt-blog-gallery {
  height: 100%;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-gallery .edgt-slick-slider {
  opacity: 0;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width, .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width-height {
  width: 50%;
}

.edgt-blog-holder.edgt-blog-type-masonry-gallery .edgt-blog-masonry-gallery-grid-sizer {
  width: 25%;
}

.edgt-blog-holder.edgt-blog-type-standard {
  width: 70%;
  margin: 0 auto;
}

.edgt-grid-col-9 .edgt-blog-holder.edgt-blog-type-standard, .edgt-grid-col-8 .edgt-blog-holder.edgt-blog-type-standard {
  width: 94%;
}

.edgt-blog-holder.edgt-blog-type-standard article {
  position: relative;
  margin-bottom: 27px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-content {
  background-color: transparent;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-blog-whole-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-image {
  position: relative;
  line-height: 0;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-image a, .edgt-blog-holder.edgt-blog-type-standard article .edgt-post-image img {
  display: block;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-image:hover:before {
  opacity: 1;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-text {
  padding: 22px 0 20px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info-category {
  font-size: 13px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info-category a {
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info-category a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info-category a:not(:first-child):before {
  content: '/';
  padding-right: 3px;
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-title {
  margin-top: 6px;
  margin-bottom: 9px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-excerpt {
  margin-top: 9px;
  margin-bottom: 20px;
  font-weight: 500;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info {
  padding: 17px 0;
  border-top: 1px solid #e5e5e5;
  font-size: 13px;
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info a {
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info i {
  font-size: 16px;
  position: relative;
  top: 1px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info div {
  display: inline-block;
  vertical-align: middle;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-avatar a {
  display: block;
  height: 28px;
  width: 28px;
  overflow: hidden;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-author {
  padding-left: 10px;
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-post-info-date:not(:first-child):before {
  content: '/';
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-post-info-date .edgt-date {
  padding-left: 1px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-post-info-comments-holder {
  padding-left: 15px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-post-info-comments-holder .edgt-comments-number {
  padding-left: 5px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-post-info-comments-icon {
  position: relative;
  top: 2px;
}

.edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-social-share-holder {
  padding-left: 21px;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-gallery .edgt-slick-slider {
  opacity: 0;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-link {
  background-image: url("./img/light-big-image.jpg");
  background-color: #928e75;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 64px;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-content {
  padding: 26px 48px 26px 48px;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-text {
  padding: 21px 0 21px;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-mark {
  float: left;
  font-size: 28px;
  margin-right: 17px;
  color: #252525;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #252525;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-link:hover .edgt-post-title {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-quote {
  background-image: url("./img/dark-big-image.jpg");
  background-color: #928e75;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 64px;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-content {
  padding: 26px 48px 26px 48px;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-text {
  padding: 21px 0 21px;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-mark {
  float: left;
  font-family: "Marcellus", sans-serif;
  font-size: 115px;
  line-height: 89px;
  margin-right: 17px;
  color: #fff;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}

.edgt-blog-holder.edgt-blog-type-standard article.format-quote:hover .edgt-post-title {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-type-standard .edgt-pagination {
  margin-top: 10px;
  text-align: center;
}

.edgt-blog-holder.edgt-blog-type-standard .edgt-pagination > ul {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.edgt-blog-holder article.sticky .edgt-post-title a {
  color: #928e75;
}

.edgt-blog-holder article .edgt-single-links-pages a {
  color: #151515;
  font-weight: 600;
  margin-right: 10px;
}

.edgt-blog-holder article .edgt-single-links-pages a:hover {
  color: #928e75;
}

.edgt-blog-holder .edgt-more-link-container {
  margin-bottom: 15px;
}

.edgt-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.edgt-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.edgt-filter-blog-holder li.edgt-active {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard > article, .edgt-blog-holder.edgt-blog-single.edgt-blog-standard > div {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.edgt-grid-col-9 .edgt-blog-holder.edgt-blog-single.edgt-blog-standard > article, .edgt-grid-col-8 .edgt-blog-holder.edgt-blog-single.edgt-blog-standard > article, .edgt-grid-col-9 .edgt-blog-holder.edgt-blog-single.edgt-blog-standard > div, .edgt-grid-col-8 .edgt-blog-holder.edgt-blog-single.edgt-blog-standard > div {
  width: 100%;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-content {
  margin-bottom: 47px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-text {
  background-color: transparent;
  padding: 20px 0 0;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-image img {
  display: block;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-title {
  margin-bottom: 4px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-info {
  margin-top: 4px;
  margin-bottom: 7px;
  font-size: 13px;
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-info > div {
  display: inline-block;
  vertical-align: middle;
  padding-right: 13px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-info .edgt-post-info-category {
  font-size: 13px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-info .edgt-post-info-category > ul {
  list-style: none;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-info .edgt-post-info-category a {
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-info .edgt-post-info-category a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-post-info .edgt-post-info-category:not(:first-child)before {
  content: '/ ';
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags a {
  display: inline-block;
  font-family: "Marcellus", sans-serif;
  text-transform: uppercase;
  color: #959595;
  font-size: 13px;
  padding: 0px 16px;
  height: 29px;
  line-height: 31px;
  margin-right: 10px;
  border-bottom: 1px solid #bbbec1;
  -webkit-transition: color ease-out 0.2s, border-color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s, border-color ease-out 0.2s;
  transition: color ease-out 0.2s, border-color ease-out 0.2s;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags a:hover {
  color: #928e75;
  border-bottom: 1px solid #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags-share-holder {
  margin-top: 45px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags-share-holder .edgt-single-tags-holder {
  float: left;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags-share-holder .edgt-share-icons-single:first-child {
  float: left;
  width: 100%;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags-share-holder .edgt-share-icons-single {
  float: right;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags-share-holder .edgt-share-icons-single a {
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags-share-holder .edgt-share-icons-single a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .edgt-tags-share-holder .edgt-share-icons-single .edgt-social-share-holder {
  display: inline-block;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-link .edgt-post-link {
  background-image: url("./img/pattern-dark.png");
  background-position: 0 0;
  background-repeat: repeat;
  position: relative;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-link .edgt-post-link .edgt-post-mark {
  position: absolute;
  top: 50%;
  width: 135px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-link .edgt-post-link .edgt-post-mark span {
  color: #fff;
  font-size: 48px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-link .edgt-post-link .edgt-post-title {
  font-size: 22px;
  line-height: 1.5em;
  /* 33/22 */
  letter-spacing: 0.5px;
  padding-left: 135px;
  padding-right: 30px;
  margin-top: 63px;
  margin-bottom: 63px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-link .edgt-post-link .edgt-post-title:hover {
  opacity: 0.85;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-link .edgt-post-link .edgt-post-title a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-quote .edgt-post-quote {
  background-image: url("./img/pattern-dark.png");
  background-position: 0 0;
  background-repeat: repeat;
  position: relative;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-quote .edgt-post-quote .edgt-post-mark {
  position: absolute;
  top: 50%;
  width: 135px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-quote .edgt-post-quote .edgt-post-mark span {
  color: #fff;
  font-size: 93px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-quote .edgt-post-quote .edgt-post-title {
  font-size: 22px;
  line-height: 1.5em;
  /* 33/22 */
  letter-spacing: 0.5px;
  padding-left: 135px;
  padding-right: 30px;
  margin-top: 63px;
  margin-bottom: 63px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-quote .edgt-post-quote .edgt-post-title:hover {
  opacity: 0.85;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-quote .edgt-post-quote .edgt-post-title a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-standard .format-gallery .edgt-slick-slider {
  opacity: 0;
}

body.single-post .edgt-container > .edgt-post-image-title {
  position: relative;
  text-align: center;
  padding: 14% 0;
  background-size: cover;
}

body.single-post .edgt-container > .edgt-post-image-title.left {
  text-align: right;
}

body.single-post .edgt-container > .edgt-post-image-title.right {
  text-align: left;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-image-title-overlay {
  background-color: #333232;
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-image-title-inner {
  position: relative;
  z-index: 11;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-title {
  color: #fff;
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  body.single-post .edgt-container > .edgt-post-image-title .edgt-post-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 480px) {
  body.single-post .edgt-container > .edgt-post-image-title .edgt-post-title {
    font-size: 32px;
  }
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-info {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-info div {
  display: inline-block;
  vertical-align: middle;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-info > div {
  padding-right: 27px;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-info .edgt-avatar {
  padding-right: 10px;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-info .edgt-author a {
  color: #fff;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-info .edgt-author a:hover {
  color: #928e75;
}

body.single-post .edgt-container > .edgt-post-image-title .edgt-post-info .edgt-post-info-category a {
  font-size: 13px;
  color: #fff;
}

body.single-post .edgt-container .edgt-post-image-title-subtitle {
  margin: 0;
  padding-left: 6px;
  color: #fff;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title > article, .edgt-blog-holder.edgt-blog-single.edgt-blog-image-title > div {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.edgt-grid-col-9 .edgt-blog-holder.edgt-blog-single.edgt-blog-image-title > article, .edgt-grid-col-8 .edgt-blog-holder.edgt-blog-single.edgt-blog-image-title > article, .edgt-grid-col-9 .edgt-blog-holder.edgt-blog-single.edgt-blog-image-title > div, .edgt-grid-col-8 .edgt-blog-holder.edgt-blog-single.edgt-blog-image-title > div {
  width: 100%;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-post-content {
  margin-bottom: 55px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags a {
  display: inline-block;
  font-family: "Marcellus", sans-serif;
  text-transform: uppercase;
  color: #959595;
  font-size: 13px;
  padding: 0px 16px;
  height: 29px;
  line-height: 31px;
  margin-right: 10px;
  border-bottom: 1px solid #bbbec1;
  -webkit-transition: color ease-out 0.2s, border-color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s, border-color ease-out 0.2s;
  transition: color ease-out 0.2s, border-color ease-out 0.2s;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags a:hover {
  color: #928e75;
  border-bottom: 1px solid #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags-share-holder {
  margin-top: 33px;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags-share-holder .edgt-single-tags-holder {
  float: left;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags-share-holder .edgt-share-icons-single:first-child {
  float: left;
  width: 100%;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags-share-holder .edgt-share-icons-single {
  float: right;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags-share-holder .edgt-share-icons-single a {
  color: #a9a9a9;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags-share-holder .edgt-share-icons-single a:hover {
  color: #928e75;
}

.edgt-blog-holder.edgt-blog-single.edgt-blog-image-title .edgt-tags-share-holder .edgt-share-icons-single .edgt-social-share-holder {
  display: inline-block;
}

.edgt-author-description {
  margin: 50px 0 0 0;
}

.edgt-author-description .edgt-author-description-image {
  width: 102px;
  float: left;
}

.edgt-author-description .edgt-author-description-text-holder {
  padding-left: 122px;
}

.edgt-author-description .edgt-author-description-text-holder .edgt-author-name {
  margin-top: 0;
}

.edgt-author-description .edgt-author-description-text-holder .edgt-author-social-holder > a {
  margin-right: 8px;
}

.edgt-related-posts-holder {
  margin: 30px 0;
}

.edgt-related-posts-holder .edgt-related-posts-title {
  margin-bottom: 15px;
}

.edgt-related-posts-inner {
  margin: 0 -12px;
}

.edgt-related-posts-holder .edgt-related-post {
  float: left;
  width: 25%;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.edgt-related-posts-holder .edgt-related-post a {
  display: block;
}

.edgt-blog-single-navigation {
  border-top: 1px solid #e7e7e8;
  padding: 28px 0;
  margin-top: 75px;
}

.edgt-blog-single-navigation .edgt-single-nav-image-holder {
  width: 58px;
}

.edgt-blog-single-navigation .edgt-single-nav-image-holder a, .edgt-blog-single-navigation .edgt-single-nav-image-holder img {
  display: block;
}

.edgt-blog-single-navigation .edgt-blog-single-prev, .edgt-blog-single-navigation .edgt-blog-single-next {
  width: 50%;
}

.edgt-blog-single-navigation .edgt-blog-single-prev {
  float: left;
}

.edgt-blog-single-navigation .edgt-blog-single-prev .edgt-single-nav-image-holder {
  float: left;
}

.edgt-blog-single-navigation .edgt-blog-single-prev .edgt-single-nav-content-holder {
  padding-left: 78px;
  text-align: left;
}

.edgt-blog-single-navigation .edgt-blog-single-next {
  float: right;
}

.edgt-blog-single-navigation .edgt-blog-single-next .edgt-single-nav-image-holder {
  float: right;
}

.edgt-blog-single-navigation .edgt-blog-single-next .edgt-single-nav-content-holder {
  padding-right: 78px;
  text-align: right;
}

.edgt-blog-single-navigation .edgt-navigation-post-title {
  margin-top: 0;
  margin-bottom: 3px;
}

.edgt-blog-single-navigation .edgt-navigation-post-date {
  color: #a9a9a9;
  font-size: 13px;
}

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.edgt-blog-holder article .edgt-audio-image-holder,
.edgt-blog-list-holder article .edgt-audio-image-holder {
  position: relative;
}

.edgt-blog-holder article .edgt-audio-image-holder .edgt-audio-player-holder,
.edgt-blog-list-holder article .edgt-audio-image-holder .edgt-audio-player-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.edgt-blog-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-container, .edgt-blog-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-embed, .edgt-blog-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-embed body, .edgt-blog-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-container .mejs-controls,
.edgt-blog-list-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-container,
.edgt-blog-list-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-embed,
.edgt-blog-list-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-embed body,
.edgt-blog-list-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-container .mejs-controls {
  background-color: rgba(0, 0, 0, 0.4);
}

.edgt-blog-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-container .mejs-controls,
.edgt-blog-list-holder article .edgt-audio-image-holder .edgt-audio-player-holder .mejs-container .mejs-controls {
  height: 36px !important;
}

.edgt-self-hosted-video-holder .edgt-video-wrap .mejs-container,
.edgt-self-hosted-video-holder .edgt-video-wrap .mejs-overlay-play {
  height: 100% !important;
  /*!important because of the inline style*/
  width: 100% !important;
  /*!important because of the inline style*/
}

.mejs-container {
  height: 36px !important;
}

.mejs-container * {
  font-family: "Open Sans", sans-serif;
}

.mejs-container .mejs-controls {
  height: 36px;
  visibility: visible !important;
  opacity: 1 !important;
  padding-right: 12px;
  box-sizing: border-box;
}

.mejs-container .mejs-controls div {
  height: 36px;
  text-align: center;
  line-height: 40px;
}

.mejs-container .mejs-controls div.mejs-volume-button {
  margin-left: 7px;
}

.mejs-controls .mejs-button button {
  background: none;
  font-family: 'ElegantIcons';
  color: #9d9d9d;
  margin: 0;
  height: 100%;
  position: static;
  width: auto;
  display: inline-block;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mejs-controls .mejs-button button:hover {
  color: #fff;
}

.mejs-controls .mejs-button button:focus {
  outline: none;
}

.mejs-container .mejs-controls .mejs-playpause-button {
  width: 46px;
}

.mejs-controls .mejs-play button {
  font-family: 'Simple-Line-Icons';
  font-size: 16px;
  color: #9d9d9d;
}

.mejs-controls .mejs-play button:after {
  content: "\e071";
}

.mejs-controls .mejs-pause button {
  font-family: 'Simple-Line-Icons';
  font-size: 16px;
}

.mejs-controls .mejs-pause button:after {
  content: "\e072";
}

.mejs-controls .mejs-mute button {
  font-family: 'Simple-Line-Icons';
  font-size: 16px;
}

.mejs-controls .mejs-mute button:after {
  content: "\e0a0";
}

.mejs-controls .mejs-unmute button {
  font-family: 'Simple-Line-Icons';
  font-size: 16px;
}

.mejs-controls .mejs-unmute button:after {
  content: "\e0a1";
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
  width: 32px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button {
  font-size: 13px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button:after {
  content: "\30";
}

.mejs-container .mejs-controls .mejs-time {
  height: 39px;
  padding: 0;
  width: 35px;
  font-size: 13px;
  color: #aaaaaa;
}

.mejs-container .mejs-controls .mejs-time > * {
  position: relative;
  top: -1px;
}

.mejs-controls div.mejs-time-rail {
  padding-top: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
  display: none !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  height: 4px;
  background-color: #6d6d6d;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  margin-top: 17px;
  margin-left: 14px;
  margin-right: 14px;
}

.mejs-controls .mejs-time-rail .mejs-time-current:after {
  content: '';
  height: 9px;
  width: 9px;
  background-color: #928e75;
  position: absolute;
  bottom: 50%;
  right: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  height: 4px;
  background-color: #6d6d6d;
}

.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #fff;
  height: 4px;
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/*# sourceMappingURL=blog.css.map */