@media only screen and (max-width: 1400px) {
  .edgt-blog-holder.edgt-blog-type-split {
    padding: 54px !important;
  }
  .edgt-blog-holder.edgt-blog-type-split article {
    width: calc(100% - 108px);
  }
}

@media only screen and (max-width: 1200px) {
  .edgt-blog-holder.edgt-masonry-full-width article, .edgt-blog-holder.edgt-masonry-full-width .edgt-blog-masonry-grid-sizer {
    width: 23.5%;
  }
}

@media only screen and (max-width: 1280px) {
  .edgt-blog-holder.edgt-blog-type-standard {
    width: 80%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry article, .edgt-blog-holder.edgt-blog-type-masonry .edgt-blog-masonry-grid-sizer {
    width: 33.333%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-quote .edgt-masonry-gallery-quote {
    font-size: 24px;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article.format-link .edgt-masonry-gallery-link .edgt-masonry-gallery-link-inner .edgt-post-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgt-blog-holder.edgt-masonry-full-width article, .edgt-blog-holder.edgt-masonry-full-width .edgt-blog-masonry-grid-sizer {
    width: 33.3333%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry article, .edgt-blog-holder.edgt-blog-type-masonry .edgt-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgt-blog-holder.edgt-blog-type-split {
    width: 100%;
    position: relative;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-content {
    padding: 40px 25px;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-content .edgt-post-title {
    padding-left: 16%;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-content {
    padding: 40px 26px 40px 10px;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-content .edgt-post-title {
    padding-left: 18%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article {
    width: 33.3333%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width-height, .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width {
    width: 66.6666%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery .edgt-blog-masonry-gallery-grid-sizer {
    width: 33.3333%;
  }
}

@media only screen and (max-width: 768px) {
  .edgt-blog-holder.edgt-masonry-full-width article, .edgt-blog-holder.edgt-masonry-full-width .edgt-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgt-column1 .edgt-related-posts-holder .edgt-related-post,
  .edgt-column2 .edgt-related-posts-holder .edgt-related-post,
  .edgt-related-posts-holder .edgt-related-post {
    width: 49.875%;
  }
  .edgt-column1 .edgt-related-posts-holder .edgt-related-post:nth-child(2n),
  .edgt-column2 .edgt-related-posts-holder .edgt-related-post:nth-child(2n),
  .edgt-related-posts-holder .edgt-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .edgt-column1 .edgt-related-posts-holder .edgt-related-post:nth-child(2n+1),
  .edgt-column2 .edgt-related-posts-holder .edgt-related-post:nth-child(2n+1),
  .edgt-related-posts-holder .edgt-related-post:nth-child(2n+1) {
    clear: both;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-content .edgt-post-title {
    padding-left: 18%;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-content .edgt-post-title {
    padding-left: 21%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article {
    width: 50%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width-height, .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width {
    width: 100%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery .edgt-blog-masonry-gallery-grid-sizer {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .edgt-blog-holder.edgt-blog-type-standard {
    width: 90%;
  }
  .edgt-blog-holder.edgt-blog-type-standard article .format-quote .edgt-post-mark,
  .edgt-blog-holder.edgt-blog-type-standard article .format-link .edgt-post-mark {
    float: none;
    margin-bottom: 15px;
  }
  .edgt-blog-holder.edgt-blog-type-standard article .edgt-post-info .edgt-author {
    display: none;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-content .edgt-post-mark {
    font-size: 30px;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-link .edgt-post-content .edgt-post-title {
    font-size: 22px;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-content .edgt-post-mark {
    font-size: 55px;
  }
  .edgt-blog-holder.edgt-blog-type-standard article.format-quote .edgt-post-content .edgt-post-title {
    font-size: 22px;
  }
  .edgt-blog-holder.edgt-blog-type-masonry article, .edgt-blog-holder.edgt-blog-type-masonry .edgt-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgt-blog-holder.edgt-masonry-full-width article, .edgt-blog-holder.edgt-masonry-full-width .edgt-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgt-blog-holder .edgt-post-content .edgt-image-name {
    width: 100%;
  }
  .edgt-post-content .edgt-share-icons {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
  .edgt-blog-single article.post .edgt-category-holder {
    width: 100%;
  }
  .edgt-blog-holder article.post .edgt-share-icons-single {
    width: 100%;
    text-align: left;
  }
}

@media only screen and (max-width: 480px) {
  .edgt-related-posts-holder .edgt-related-post {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .edgt-related-posts-holder .edgt-related-posts-title h3:before,
  .edgt-related-posts-holder .edgt-related-posts-title h3:after {
    display: none !important;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article {
    width: 100%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width-height, .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width {
    width: 100%;
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery article.edgt-post-size-large-width .edgt-post-image a img {
    max-width: none;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .edgt-blog-holder.edgt-blog-type-masonry-gallery .edgt-blog-masonry-gallery-grid-sizer {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgt-blog-holder.edgt-blog-single.edgt-blog-standard > article, .edgt-blog-holder.edgt-blog-single.edgt-blog-standard > div {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .edgt-blog-holder.edgt-blog-single .edgt-author-description .edgt-author-description-text-holder {
    padding-left: 0;
  }
  .edgt-blog-single-navigation .edgt-blog-single-prev.edgt-single-nav-with-image .edgt-single-nav-content-holder {
    padding-left: 0 !important;
    float: left !important;
  }
  .edgt-blog-single-navigation .edgt-blog-single-next.edgt-single-nav-with-image .edgt-single-nav-content-holder {
    padding-right: 0 !important;
    float: right !important;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */