
<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- jQuery -->
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>

<!-- Hexagon Progress -->
<script src="assets/vendor/HexagonProgress/jquery.hexagonprogress.min.js"></script>

<!-- Bootstrap -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Jarallax -->
<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>

<!-- Flickity -->
<script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

<!-- jQuery Countdown -->
<script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>

<!-- Moment.js -->
<script src="assets/vendor/moment/min/moment.min.js"></script>
<script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<!-- Magnific Popup -->
<script src="assets/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

<!-- Revolution Slider -->
<script src="assets/vendor/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/vendor/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- ImagesLoaded -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Isotope -->
<script src="assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>

<!-- Bootstrap Validator -->
<script src="assets/vendor/bootstrap-validator/dist/validator.min.js"></script>

<!-- Bootstrap Sweetalert -->
<script src="assets/vendor/bootstrap-sweetalert/dist/sweetalert.min.js"></script>

<!-- Social Likes -->
<script src="assets/vendor/social-likes/dist/social-likes.min.js"></script>

<!-- Youplay -->
<script src="assets/js/youplay.min.js"></script>
<script src="assets/js/youplay-init.js"></script>

{% if custom_script %}
<script>{{ custom_script | safe }}</script>
{% endif %}

<!-- END: Scripts -->
