{% set header_title = 'Black Rock Shooter' %}
{% set header_size = 'big' %}
{% set header_text = '
    <a class="btn btn-md btn-white ml-6" href="#"><i class="fa fa-apple"></i>&nbsp; App Store</a><a class="btn btn-md active" href="#"><i class="fa fa-google"></i>&nbsp; Google Play</a>
' %}
{% set custom_script = "
  $(\".countdown\").each(function() {
    var tz = $(this).attr('data-timezone');
    var end = $(this).attr('data-end');
        end = moment.tz(end, tz).toDate();
    $(this).countdown(end, function(event) {
        $(this).html(
            event.strftime([
                '<div class=\"countdown-item\">',
                    '<span>Days</span>',
                    '<span><span>%D</span></span>',
                '</div>',
                '<div class=\"countdown-item\">',
                    '<span>Hours</span>',
                    '<span><span>%H</span></span>',
                '</div>',
                '<div class=\"countdown-item\">',
                    '<span>Minutes</span>',
                    '<span><span>%M</span></span>',
                '</div>',
                '<div class=\"countdown-item\">',
                    '<span>Seconds</span>',
                    '<span><span>%S</span></span>',
                '</div>'
            ].join(''))
        );
    });
  });
" %}

{% extends 'layouts/layout-anime.html' %}

{% block content %}
    <div class="youplay-content">

        <!-- Features -->
        <section class="youplay-features container mnb-30">
            <div class="col-sm-4">
                <div class="feature angled-bg">
                    <i class="fa fa-gamepad"></i>
                    <h3>Dynamic Fights</h3>
                    <div>
                        The most dynamic fights will not make you bored
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature angled-bg">
                    <i class="fa fa-heartbeat"></i>
                    <h3>Incredible Atmosphere</h3>
                    <div>
                        You will be immersed in the dark atmosphere until the end of the story
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature angled-bg">
                    <i class="far fa-hand-rock"></i>
                    <h3>Play w/ Friends</h3>
                    <div>
                        Kick ass your friends right in the game with ease
                    </div>
                </div>
            </div>
        </section>
        <!-- /Features -->

        <!-- Screenshots -->
        <h2 class="container h1" id="screenshots">Screenshots</h2>
        <!--
            Carousel

            Additional classes:
                .youplay-carousel-size-1
                .youplay-carousel-size-2
                .youplay-carousel-size-3
                .youplay-carousel-size-4
                .youplay-carousel-size-5
                .youplay-carousel-size-6

            Additional attributes:
                data-autoplay
                data-loop
                data-dots
                data-arrows
                data-stage-padding
                data-item-padding
        -->
        <div class="youplay-carousel gallery-popup">
            <a class="angled-img" href="assets/images/anime/game-brs-1-1920x1179.jpg">
                <div class="img">
                    <img src="assets/images/anime/game-brs-1-500x375.jpg" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
            </a>
            <a class="angled-img" href="assets/images/anime/game-brs-2-1920x1006.jpg">
                <div class="img">
                    <img src="assets/images/anime/game-brs-2-500x375.jpg" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
            </a>
            <a class="angled-img" href="assets/images/anime/game-brs-3-1920x1080.jpg">
                <div class="img">
                    <img src="assets/images/anime/game-brs-3-500x375.jpg" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
            </a>
            <a class="angled-img" href="assets/images/anime/game-brs-4-1920x1200.jpg">
                <div class="img">
                    <img src="assets/images/anime/game-brs-4-500x375.jpg" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
            </a>
            <a class="angled-img" href="assets/images/anime/game-brs-5-1525x900.jpg">
                <div class="img">
                    <img src="assets/images/anime/game-brs-5-500x375.jpg" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
            </a>
            <a class="angled-img" href="assets/images/anime/game-brs-6-1920x1111.jpg">
                <div class="img">
                    <img src="assets/images/anime/game-brs-6-500x375.jpg" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
            </a>
        </div>
        <!-- /Screenshots -->


        <!-- About -->
        <h2 class="container h1" id="about">About</h2>
        <section class="container">
            <p class="lead">Eleifend sem ipsum conubia euismod potenti ante ad sem sed, dictumst hymenaeos torquent quis. Class leo. Odio orci velit nulla habitasse conubia tempor eleifend dui suscipit mauris eget mollis, molestie est justo. Ligula facilisi sociis dignissim egestas lectus.</p>
            <p class="lead">Habitant consequat consectetuer ipsum primis rutrum torquent curabitur tempus gravida nulla integer nascetur tempus ultrices, hac taciti vitae. Vehicula velit praesent risus rutrum lectus.</p>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="responsive-embed responsive-embed-16x9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rMfe306QFr4" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- /About -->


        <!-- Testimonials -->
        <section class="youplay-banner youplay-banner-parallax mt-60" id="testimonials">
            <div class="image" data-speed="-0.2">
                <img class="jarallax-img" src="assets/images/anime/game-brs-2-1920x1006.jpg" alt="">
            </div>

            <div class="info">
                <div>
                    <div class="container">
                        <h2 class="align-center">What Gamers are Saying</h2>
                        <br>

                        <div class="row testimonials vertical-gutter">
                            <div class="col-md-4">
                                <blockquote>
                                    <p class="clients-words">
                                        Purus purus penatibus tempus est risus elit convallis ultrices adipiscing et mollis fames vivamus.
                                    </p>
                                    <small class="author-name">Adrian Ray</small>
                                    <img class="img-circle" alt="Adrian Ray" src="assets/images/anime/avatar-user-2.png" />
                                </blockquote>
                            </div>
                            <div class="col-md-4">
                                <blockquote>
                                    <p class="clients-words">
                                        Lacus Ut varius viverra vestibulum eleifend consectetuer proin accumsan pretium dis ultrices, hendrerit platea. Suspendisse Nunc. Ligula phasellus iaculis torquent.
                                    </p>
                                    <small class="author-name">Salvador Moore</small>
                                    <img class="img-circle" alt="Salvador Moore" src="assets/images/anime/avatar-user-3.png" />
                                </blockquote>
                            </div>
                            <div class="col-md-4">
                                <blockquote>
                                    <p class="clients-words">
                                        Curae, sodales facilisi, lacus fringilla ridiculus cras, sed, class class. Class per faucibus eget Aliquam quam interdum vehicula Pretium dolor. Nunc nascetur urna phasellus.
                                    </p>
                                    <small class="author-name">Clayton Fields</small>
                                    <img class="img-circle" alt="Clayton Fields" src="assets/images/anime/avatar-user-4.png" />
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Testimonials -->


        <!-- Recent News -->
        <h2 class="container h1" id="news">Recent News</h2>
        <section class="youplay-news container">
            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="anime-blog-post.html" class="angled-img">
                            <div class="img">
                                <img src="assets/images/anime/game-brs-6-500x375.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="anime-blog-post.html">Meet on Apple Devices - Black Rock Shooter</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> May 14, 2017</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">Release</a>, <a href="#">Black Rock Shooter</a>, <a href="#">iOs</a>, <a href="#">Apple</a>
                        </div>
                        <div class="description">
                            <p>
                                Arcu curabitur magna lorem Luctus. Curabitur eleifend facilisi vulputate nam. Primis magna fringilla sed nunc felis cubilia suscipit adipiscing euismod eros cursus adipiscing dis vel etiam. Per id malesuada facilisi odio.
                            </p>
                        </div>
                        <a href="anime-blog-post.html" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="anime-blog-post.html" class="angled-img">
                            <div class="img">
                                <img src="assets/images/anime/game-brs-7-500x375.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="anime-blog-post.html">Closed Beta  Started Today - Black Rock Shooter II</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> April 24, 2017</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">Black Rock Shooter II</a>, <a href="#">Beta</a>, <a href="#">Start Today</a>
                        </div>
                        <div class="description">
                            <p>Curabitur. Magnis sapien metus euismod a sociosqu ac phasellus non. Sociosqu, lorem. Curabitur. Adipiscing penatibus tempus habitant, porttitor cum sed.</p>

                            <p>Condimentum justo semper semper elementum. Nulla rhoncus ac eros aliquet praesent massa sed ante sociis vivamus. Vulputate lobortis turpis hymenaeos. Ac ipsum arcu sollicitudin lorem feugiat ullamcorper. Tempus donec iaculis.</p>
                        </div>
                        <a href="anime-blog-post.html" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->
        </section>
        <!-- /Recent News -->


        <!-- Preorder -->
        <section class="youplay-banner youplay-banner-parallax mt-60" id="exclusive">
            <div class="image" data-speed="-0.2">
                <img class="jarallax-img" src="assets/images/anime/game-brs-8-1920x1080.jpg" alt="">
            </div>

            <div class="info container align-center">
                <div>
                    <h2>Black Rock Shooter II</h2>
                    <h3>Exclusively for Mac and Windows</h3>

                    <!-- See countdown init in bottom of the page -->
                    <div class="countdown style-1 h2" data-end="2019-05-21 12:00" data-timezone="EST"></div>

                    <br><br>
                    <a class="btn btn-md" href="#">Pre-Order</a>
                </div>
            </div>
        </section>
        <!-- /Preorder -->


        <!-- Partners -->
        <h2 class="container h1">Our Partners</h2>
        <section class="container">
            <!--
                Carousel

                Additional classes:
                    .youplay-carousel-size-1
                    .youplay-carousel-size-2
                    .youplay-carousel-size-3
                    .youplay-carousel-size-4
                    .youplay-carousel-size-5
                    .youplay-carousel-size-6

                Additional attributes:
                    data-autoplay
                    data-loop
                    data-dots
                    data-arrows
                    data-stage-padding
                    data-item-padding
            -->
            <div class="youplay-carousel youplay-carousel-size-6" data-autoplay="6000" data-arrows="false" data-stage-padding="0">
                <a href="#"><img src="assets/images/anime/partner-logo-1.png" alt=""></a>
                <a href="#"><img src="assets/images/anime/partner-logo-2.png" alt=""></a>
                <a href="#"><img src="assets/images/anime/partner-logo-3.png" alt=""></a>
                <a href="#"><img src="assets/images/anime/partner-logo-4.png" alt=""></a>
                <a href="#"><img src="assets/images/anime/partner-logo-5.png" alt=""></a>
                <a href="#"><img src="assets/images/anime/partner-logo-6.png" alt=""></a>
                <a href="#"><img src="assets/images/anime/partner-logo-7.png" alt=""></a>
                <a href="#"><img src="assets/images/anime/partner-logo-8.png" alt=""></a>
            </div>
        </section>
        <!-- /Partners -->


        <!-- Get It Now -->
        <h2 class="container h1">Get It Now</h2>
        <section class="container">
            <p class="lead">
                Mauris imperdiet. Hymenaeos tempor ultricies ullamcorper neque risus volutpat Eros molestie platea, sociosqu convallis, fringilla quam amet. Aliquam est, sapien pellentesque nec quam massa eget per purus inceptos ornare Eget.
            </p>
            <br>
            <a class="btn btn-md btn-white ml-6" href="#"><i class="fa fa-apple"></i>&nbsp; App Store</a><a class="btn btn-md active" href="#"><i class="fa fa-google"></i>&nbsp; Google Play</a>
        </section>
        <!-- /Get It Now -->
    </div>
{% endblock %}
