{% set page_title = 'Blog 1' %}
{% set header_title = 'Blog' %}
{% set header_image = 'assets/images/dark/banner-blog-bg.jpg' %}

{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container youplay-news">

        <!-- News List -->
        <div class="col-md-9">

            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="blog-post-1.html" class="angled-img">
                            <div class="img">
                                <img src="assets/images/dark/game-bloodborne-500x375.jpg" alt="">
                            </div>
                            <div class="youplay-hexagon-rating youplay-hexagon-rating-small" data-max="10" data-size="50" title="9.1 out of 10"><span>9.1</span></div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="blog-post-1.html">Bloodborne - First Try!</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> Today</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">Bloodborne</a>, <a href="#">first try</a>, <a href="#">first boss problem</a>, <a href="#">newbie game</a>
                        </div>
                        <div class="description">
                            <p>
                                Gus sit amet suum motum. Nescio quando, aut quomodo, nescio quo. Illud scio, amet tortor. Suarum impotens prohibere eum.
                            </p>
                            <p>
                                Sum expectantes. Ego hodie expectantes. Expectantes, et misit unum de pueris Gus interficere. Et suus vos. Nescio quis, qui est bonus usus liberi ad Isai? Qui nosti ... Quis dimisit filios ad necem ... hmm? Gus!
                            </p>
                        </div>
                        <a href="blog-post-1.html" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="blog-post-2.html" class="angled-img">
                            <div class="img">
                                <img src="assets/images/dark/game-dark-souls-ii-500x375.jpg" alt="">
                            </div>
                            <div class="youplay-hexagon-rating youplay-hexagon-rating-small" data-max="10" data-size="50" title="9 out of 10"><span>9</span></div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="blog-post-2.html">Coming to Youplay - Dark Souls II</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> March 9, 2015</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">Dark Souls II</a>, <a href="#">coming soon</a>, <a href="#">first review</a>, <a href="#">sale date</a>
                        </div>
                        <div class="description">
                            Ille vivere. Ut ad te quaerebam ... purgare caeli. Sunt uh ... nonnullus propter errorem qui de rebus inter nos et iacere puto suus in causa, id est in mensa. Levir meus, priusquam oppugnarent tempus quis, admonere dicitur. Credo quod idem mihi praesidium.
                        </div>
                        <a href="blog-post-2.html" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="blog-post-3.html" class="angled-img">
                            <div class="img">
                                <img src="assets/images/dark/game-kingdoms-of-amalur-reckoning-500x375.jpg" alt="">
                            </div>
                            <div class="youplay-hexagon-rating youplay-hexagon-rating-small" data-max="10" data-size="50" title="3.8 out of 10"><span>3.8</span></div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="blog-post-3.html">Review Kingdoms of Amalur</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> March 1, 2015</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">Kingdoms of Amalur</a>, <a href="#">game</a>, <a href="#">review</a>
                        </div>
                        <div class="description">
                            Quod satis pecuniae sempiternum. Ut sciat oportet motum. Nunquam invenies eum. Hic de tabula. Ego vivere, ut debui, et nunc fiant. Istuc quod opus non est. Lorem ipsum occurrebat pragmaticam semper ut, si quis ita velim tibi bene recognoscere. Quorum duo te mihi videtur.
                        </div>
                        <a href="blog-post-3.html" class="btn read-more">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="#" class="angled-img">
                            <div class="img">
                                <img src="assets/images/dark/game-the-witcher-500x375.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="#">The Witcher, 60% Off</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> February 19, 2015</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">The Witcher</a>, <a href="#">special offer</a>, <a href="#">discount</a>, <a href="#">60% off</a>
                        </div>
                        <div class="description">
                            <p>
                                Ut sibi fuerat socius sagittis. Ego intervenerit. Vere quia a te nuper iratus occidit illos undecim annorum puer. Deinde, si hoc forte qui fuit imperavit.
                            </p>
                            <p>
                                Quod satis pecuniae sempiternum. Ut sciat oportet motum. Nunquam invenies eum. Hic de tabula. Ego vivere, ut debui, et nunc fiant. Istuc quod opus non est. Lorem ipsum occurrebat pragmaticam semper ut, si quis ita velim tibi bene recognoscere. Quorum duo te mihi videtur.
                            </p>
                        </div>
                        <a href="#" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="#" class="angled-img">
                            <div class="img">
                                <img src="assets/images/dark/game-middle-eart-shadow-of-mordor-500x375.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="#">Whats New in Middle-earth</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> February 2, 2015</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">Middle-earth</a>, <a href="#">new features</a>, <a href="#">update</a>
                        </div>
                        <div class="description">
                            Tu nunc coci ejus. Tu autem cocus Lab et probavimus liceat mihi sine causa est nunc coci interficere. Reputo it! Suus egregie. Ut antecedat. Quod si putas me posse facere, ergo ante. Pone aute in caput, et nunc interficere. Faciat! Fac. Fac. Fac.
                        </div>
                        <a href="#" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="news-one">
                <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="#" class="angled-img">
                            <div class="img">
                                <img src="assets/images/dark/game-soul-sacrifice-500x375.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="#">Soul Sacrifice Review</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> January 27, 2015</span>
                        </div>
                        <div class="tags">
                            <i class="fa fa-tags"></i> <a href="#">Soul Sacrifice</a>, <a href="#">review</a>, <a href="#">game</a>
                        </div>
                        <div class="description">
                            Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.
                        </div>
                        <a href="#" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Pagination -->
            <ul class="pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
            <!-- /Pagination -->
        </div>
        <!-- /News List -->

        <!-- Right Side -->
        <div class="col-md-3">
            {% include "shared/dark-sidebar-blog.html" %}
        </div>
        <!-- /Right Side -->

    </div>
{% endblock %}
