{% set page_title = 'Blog 3' %}
{% set header_title = 'Blog' %}
{% set header_image = 'assets/images/dark/banner-blog-bg.jpg' %}

{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container youplay-news news-grid">
        <!-- News List -->
        <div class="row vertical-gutter multi-columns-row">

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="blog-post-1.html" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-bloodborne-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Bloodborne - First Try!</h3>
                            <span class="date"><i class="fa fa-calendar"></i> Today</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="blog-post-2.html" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-dark-souls-ii-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Coming to Youplay - Dark Souls II</h3>
                            <span class="date"><i class="fa fa-calendar"></i> March 9, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-kingdoms-of-amalur-reckoning-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Review Kingdoms of Amalur</h3>
                            <span class="date"><i class="fa fa-calendar"></i> March 1, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-the-witcher-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>The Witcher, 60% Off</h3>
                            <span class="date"><i class="fa fa-calendar"></i> February 19, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-middle-eart-shadow-of-mordor-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Whats New in Middle-earth</h3>
                            <span class="date"><i class="fa fa-calendar"></i> February 2, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-soul-sacrifice-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Soul Sacrifice Review</h3>
                            <span class="date"><i class="fa fa-calendar"></i> January 27, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-diablo-iii-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Let's Grind Diablo III</h3>
                            <span class="date"><i class="fa fa-calendar"></i> January 18, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img img-offset">
                            <img src="assets/images/dark/game-dragons-dogma-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Let us Remember Dragons Dogma</h3>
                            <span class="date"><i class="fa fa-calendar"></i> January 10, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->
        </div>
        <!-- /News List -->
    </div>
{% endblock %}
