{% set header_title = 'Single Topic' %}
{% set header_image = 'assets/images/light/banner-blog-bg.jpg' %}
{% set header_size = 'xsmall' %}

{% extends 'layouts/layout-light.html' %}

{% block content %}
    <div class="container youplay-content">

        <div class="col-md-9">

            <!-- Breadcrumb -->
            <div class="mt-10 mb-20 pull-left">
                <a href="light-index.html">Home</a>
                <span class="fa fa-angle-right"></span>
                <a href="light-forums.html">Forums</a>
                <span class="fa fa-angle-right"></span>
                <a href="light-forums-topics.html">Games</a>
                <span class="fa fa-angle-right"></span>
                <span>Single Topic</span>
            </div>
            <!-- /Breadcrumb -->

            <div class="clearfix"></div>

            <p class="mb-30">Viewing 4 replies - 1 through 4 (of 4 total)</p>

            <!-- Forums List -->
            <ul class="youplay-forum mr-10">

                <li class="body">

                    <div>
                        <div class="top">
                            <a class="author h5 pull-left" href="#">Kristen Bradley</a>
                            <div class="date pull-right"><i class="fa fa-calendar"></i> December 17, 2014</div>
                        </div>

                        <div class="avatar pull-left">
                            <img src="assets/images/light/avatar-user-1.png" alt="">
                        </div>
                        <div class="reply clearfix">
                            <div class="text">
                                Suspicio? Bene ... tunc ibimus? Quis uh ... CONEXUS locus his diebus? Quisque semper aliquid videtur, in volutpat mauris. Nolo enim dicere. Vobis neque ab aliis. Ego feci memetipsum explicans. Gus mortuus est. Lorem opus habeo.

                                <p>
                                    Jackson Isai? Tu quoque ... A te quidem a ante. Vos scitis quod blinking res Ive 'been vocans super vos? Et conteram illud, et conteram hoc. Maledicant druggie excors. Iam hoc tu facere conatus sum ad te in omni tempore?
                                </p>
                            </div>
                            <a href="#" class="pull-right">Reply</a>
                        </div>
                    </div>

                    <div>
                        <div class="top">
                            <a class="author h5 pull-left" href="#">Timmothy Stevens</a>
                            <div class="date pull-right"><i class="fa fa-calendar"></i> December 23, 2014</div>
                        </div>

                        <div class="avatar pull-left">
                            <img src="assets/images/light/avatar-user-2.png" alt="">
                        </div>
                        <div class="reply clearfix">
                            <div class="text">
                                Qui nunc loqueris? Ecce qui cogitatis? Vos scitis quanta ego faciam annum Id est, ut ego dixi vobis non credunt. Scis quid si ne subito placuit ire in opus?
                            </div>
                            <a href="#" class="pull-right">Reply</a>
                        </div>
                    </div>

                    <div>
                        <div class="top">
                            <a class="author h5 pull-left" href="#">Richard Lambert</a>
                            <div class="date pull-right"><i class="fa fa-calendar"></i> January 30, 2015</div>
                        </div>

                        <div class="avatar pull-left">
                            <img src="assets/images/light/avatar-user-3.png" alt="">
                        </div>
                        <div class="reply clearfix">
                            <div class="text">
                                Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam vivum exire ab ea. Sed cum hoc ... excidit tibi in cibo aut in potu, aut: olefac Elegantioris non sit ... triginta sex horae post ... Poof. Vir aetatis operantes, dura sicut facit ... nemo mirabatur. Mike suspectas habere possunt, sed quod omnes illi eris. Obsecro, unum homicidam maniaco tempore.
                            </div>
                            <a href="#" class="pull-right">Reply</a>
                        </div>
                    </div>

                    <div>
                        <div class="top">
                            <a class="author h5 pull-left" href="#">Scott Sutton</a>
                            <div class="date pull-right"><i class="fa fa-calendar"></i> 25 minutes ago</div>
                        </div>

                        <div class="avatar pull-left">
                            <img src="assets/images/light/avatar.png" alt="">
                        </div>
                        <div class="reply clearfix">
                            <div class="text">
                                His duobus, sicariorum. Et orci aetate erat, sed nescio quo modo se gerendo levir meus aufert a me. Propter hoc 'interventu 'vivere me scito. Et tamen hoc quod multo altius est eget arcu. Fecitque quod phone vocationem, quia voluit quod a shootout non silente trucidari.
                            </div>
                            <a href="#" class="pull-right">Reply</a>
                        </div>
                    </div>

                </li>

            </ul>
            <!-- /Forums List -->

            <div class="clearfix"></div>

            <p>Viewing 4 replies - 1 through 4 (of 4 total)</p>

        </div>

        <!-- Right Side -->
        <div class="col-md-3">
            {% include "shared/light-sidebar-store.html" %}
        </div>
        <!-- /Right Side -->

    </div>
{% endblock %}
