{% set page_title = 'User Profile' %}
{% set header_image = 'assets/images/light/game-journey-1400x460.jpg' %}
{% set header_size = 'small' %}
{% set header_show = 'user' %}

{% extends 'layouts/layout-light.html' %}

{% block content %}
    <div class="container youplay-content">

        <div class="row">

            <div class="col-md-9">

                <h3 class="mt-0 mb-20">John Doe</h3>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td style="width: 200px;"><p>Hometown</p></td>
                        <td><p><a href="#">New York</a></p></td>
                    </tr>
                    <tr>
                        <td><p>Relationship status</p></td>
                        <td><p><a href="#">Married</a></p></td>
                    </tr>
                    <tr>
                        <td><p>Studied at</p></td>
                        <td><p><a href="#">New York University, NYU</a></p></td>
                    </tr>
                    <tr>
                        <td><p>Languages</p></td>
                        <td><p><a href="#">English</a>, <a href="#">Japan</a></p></td>
                    </tr>
                    </tbody>
                </table>

                <h3 class="mt-40 mb-20">Contact Information</h3>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td style="width: 200px;"><p>Current City</p></td>
                        <td><p><a href="#">New York</a></p></td>
                    </tr>
                    <tr>
                        <td><p>Mobile</p></td>
                        <td><p>+1 *** ** ** 11 11</p></td>
                    </tr>
                    <tr>
                        <td><p>Instagram</p></td>
                        <td><p><a href="#">@instagram</a></p></td>
                    </tr>
                    <tr>
                        <td><p>Twitter</p></td>
                        <td><p><a href="#">#twitter</a></p></td>
                    </tr>
                    </tbody>
                </table>

                <h3 class="mt-40 mb-20">Personal Information</h3>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td style="width: 200px;"><p>Current City</p></td>
                        <td><p><a href="#">New York</a></p></td>
                    </tr>
                    <tr>
                        <td><p>Favorite games</p></td>
                        <td><p><a href="#">Bloodborne</a>, <a href="#">Dark Souls II</a>, <a href="#">Kingdoms of Amalur</a>, <a href="#">The Witcher</a></p></td>
                    </tr>
                    <tr>
                        <td><p>About Me</p></td>
                        <td>
                            <p>Netus. Nascetur arcu amet accumsan natoque. Augue aptent euismod sed magna diam nostra, molestie mi felis. Egestas nisl ante posuere dui Nostra tempus pulvinar at dui augue mattis placerat iaculis hac arcu rutrum.</p>

                            <p>Vel <strong>class</strong> lectus auctor interdum. Mi <strong>nec</strong> senectus commodo sed suscipit vitae parturient, risus vivamus quisque dolor aliquet amet. Etiam penatibus nascetur netus. Non leo eu vitae sem laoreet. Varius in augue. Mollis convallis.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!-- Right Side -->
            <div class="col-md-3">
                {% include "shared/light-sidebar-user.html" %}
            </div>
            <!-- Right Side -->

        </div>

    </div>
{% endblock %}
