{% set header_title = 'Blog' %}
{% set header_image = 'assets/images/light/banner-blog-bg.jpg' %}
{% set header_size = 'small' %}

{% extends 'layouts/layout-light.html' %}

{% block content %}
    <div class="container youplay-news news-grid">
        <!-- News List -->
        <div class="row vertical-gutter multi-columns-row">

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="light-blog-post-1.html" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-road-no-taken-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Road Not Taken - First Try!</h3>
                            <span class="date"><i class="fa fa-calendar"></i> Today</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="light-blog-post-2.html" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-botanicula-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Coming to Youplay - Botanicula</h3>
                            <span class="date"><i class="fa fa-calendar"></i> March 9, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-journey-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Review Journey</h3>
                            <span class="date"><i class="fa fa-calendar"></i> March 1, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-broken-age-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Broken Age, 60% Off</h3>
                            <span class="date"><i class="fa fa-calendar"></i> February 19, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-dream-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Whats New in Dream</h3>
                            <span class="date"><i class="fa fa-calendar"></i> February 2, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-flower-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Flower Review</h3>
                            <span class="date"><i class="fa fa-calendar"></i> January 27, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-deponia-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Let's Grind Deponia</h3>
                            <span class="date"><i class="fa fa-calendar"></i> January 18, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->

            <!-- Single News Block -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="news-one">
                    <a href="#" class="angled-img">
                        <div class="img">
                            <img src="assets/images/light/game-dreamfall-chapters-500x375.jpg" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3>Let us Remember Dreamfall Chapters</h3>
                            <span class="date"><i class="fa fa-calendar"></i> January 10, 2015</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Single News Block -->
        </div>
        <!-- /News List -->
    </div>
{% endblock %}
