/* ==========================================================================
# Counter responsive style - begin
========================================================================== */

@include phone-portrait {
	.edgt-counter-holder {
		.edgt-counter {
			float: none;
		}

		.edgt-counter-content {
			padding-left: 0;
			margin-top: 20px;
		}
	}
}

/* ==========================================================================
# Counter responsive style - end
========================================================================== */