/* ==========================================================================
   Dropcaps shortcodes styles
   ========================================================================== */
.edgt-dropcaps {
	position: relative;
	display: inline-block;
	float: left;
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 40px;
	color: $first-main-color;
	font-weight: 700;
	text-align: center;
	margin: 3px 11px 0 0;

	&.edgt-square {
		font-size: 25px;
		background-color: $first-main-color;
		color: #fff;
	}

	&.edgt-circle {
		@extend .edgt-square;
		@include edgtBorderRadius(2em);
	}
}

/* ==========================================================================
   Dropcaps shortcode end styles
   ========================================================================== */