.youplay-login {

    // title
    .youplay-banner .info h2 {
        margin-top: 0;
        margin-bottom: 3rem;
        font-size: 4rem;
    }

    .youplay-form {
        max-width: 500px;
        margin: 3rem auto;

        form {
            margin-top: 2rem;
        }

        input {
            text-align: center;
        }

        button {
            width: 100%;
            margin: 0;
        }

        .social-list {
            margin: 0;
        }
    }
}

.full.youplay-login,
.full.youplay-login .youplay-banner {
    min-height: 510px;
}
