.mfp-bg {
    background: $back_darken_color;
}
.mfp-figure::after {
    top: 65px;
    background: $back_darken_color;
    box-shadow: 0 0 8px rgba($back_darken_color, .6);
}

img.mfp-img {
    padding-top: 65px;
}
.mfp-iframe-scaler iframe {
    top: 20px;
}
.mfp-arrow::after {
    content: none;
}


// Custom preloader
.mfp-preloader {
    margin-top: -100px;

    .preloader {
        margin: 0 auto;
    }
}


// custom arrows
.mfp-arrow-right::before,
.mfp-arrow-left::before {
    content: "\e080";
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Glyphicons Halflings"; // stylelint-disable-line
    font-size: 5rem;
    border: none;
}
.mfp-arrow-left::before {
    content: "\e079";
    color: $text_color;
    border-right-color: $text_color;
}
.mfp-arrow-right::before {
    color: $text_color;
    border-left-color: $text_color;
}

// custom close
button.mfp-close {
    width: 75px;
    height: 65px;
    font-size: 0;
    line-height: 65px;
    color: transparent;

    &::before {
        content: "\e014";
        font-family: "Glyphicons Halflings"; // stylelint-disable-line
        font-size: 4rem;
        color: $text_color;
    }
}

// controls on hover
.mfp-close,
.mfp-arrow {
    opacity: .3;

    &::before {
        opacity: 1;
    }

    &:hover {
        opacity: .6;
    }
}


// Fade Effect
.mfp-with-fade {

    // before-open state
    .mfp-content,
    .mfp-arrow,
    .mfp-close,
    &.mfp-bg {
        opacity: 0;
        -webkit-backface-visibility: hidden; // stylelint-disable-line
        transition: opacity .3s ease-out;
    }


    // open state
    &.mfp-ready {
        .mfp-content {
            opacity: 1;
        }
        .mfp-arrow,
        .mfp-close {
            opacity: .3;

            &:hover {
                opacity: .6;
            }
        }
        &.mfp-bg {
            opacity: .8; // background opacity
        }
    }

    // closed state
    &.mfp-removing {
        .mfp-content,
        .mfp-arrow,
        .mfp-close,
        &.mfp-bg {
            opacity: 0;
        }
    }
}
