.sweet-alert {
    padding: 30px;
    padding-bottom: 40px;
    color: $back_darken_color;

    h1,
    h2,
    h3,
    h4,
    h5,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5 {
        color: inherit;
    }

    .btn {
        color: inherit;

        &::before {
            border-color: inherit;
        }

        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            color: $text_color;

            &::before {
                background: $main_color;
                border-color: $main_color;
            }
        }
    }
}
.sweet-overlay {
    background-color: rgba($back_darken_color, .7);
}
