/*------------------------------------------------------------------
  [Typography]

  Body:     14px/1.42857143 #{$font_body};
  Headings: #{$font_headings}

  Notes: Most of font sizes are relative to the base font size (rem)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]

  Main:         #{$main_color} (buttons/links hover)
  Back:         #{$back_darken_color} (Content Background)
  Back Images:  #{$back_color} (back on images)
  Text:         #{$text_color}
  Muted Text:   #{$text_mute_color}

  Primary:      #{$color_primary}
  Success:      #{$color_success}
  Info:         #{$color_info}
  Warning:      #{$color_warning}
  Danger:       #{$color_danger}
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Table of contents]
  {{table_of_contents}}
-------------------------------------------------------------------*/
$skew_scale: 1 + abs(strip-units($skew_size)) * .014 !default; // YEP, this is magic number

/*------------------------------------------------------------------

  Base Styles

-------------------------------------------------------------------*/
@import "parts/base";

/*------------------------------------------------------------------

  Helper Classes

-------------------------------------------------------------------*/
@import "parts/helper-classes";


/*------------------------------------------------------------------

  Components

-------------------------------------------------------------------*/
@import "parts/components";

/*------------------------------------------------------------------

  Angled Images

-------------------------------------------------------------------*/
@import "parts/angled-items";

/*------------------------------------------------------------------

  Forms

-------------------------------------------------------------------*/
@import "parts/forms";

/*------------------------------------------------------------------

  Navbar

-------------------------------------------------------------------*/
@import "parts/navbar";

/*------------------------------------------------------------------

  Banner

-------------------------------------------------------------------*/
@import "parts/banner";

/*------------------------------------------------------------------

  Carousel

-------------------------------------------------------------------*/
@import "parts/carousel";

/*------------------------------------------------------------------

  Countdown

-------------------------------------------------------------------*/
@import "parts/countdown";

/*------------------------------------------------------------------

  Hexagon Rating

-------------------------------------------------------------------*/
@import "parts/hexagon-rating";


/*------------------------------------------------------------------

  Search Block

-------------------------------------------------------------------*/
@import "parts/search-block";

/*------------------------------------------------------------------

  Side Block

-------------------------------------------------------------------*/
@import "parts/side-block";

/*------------------------------------------------------------------

  Comments / Reviews

-------------------------------------------------------------------*/
@import "parts/comments-block";


/*------------------------------------------------------------------

  News

-------------------------------------------------------------------*/
@import "parts/news";

/*------------------------------------------------------------------

  Store

-------------------------------------------------------------------*/
@import "parts/store";

/*------------------------------------------------------------------

  Search Page

-------------------------------------------------------------------*/
@import "parts/search-page";

/*------------------------------------------------------------------

  User Profile

-------------------------------------------------------------------*/
@import "parts/user-profile";

/*------------------------------------------------------------------

  Login

-------------------------------------------------------------------*/
@import "parts/login";

/*------------------------------------------------------------------

  404

-------------------------------------------------------------------*/
@import "parts/404";

/*------------------------------------------------------------------

  Forum

-------------------------------------------------------------------*/
@import "parts/forum";

/*------------------------------------------------------------------

  Clan Wars

-------------------------------------------------------------------*/
@import "parts/clan-wars";

/*------------------------------------------------------------------

  Testimonials

-------------------------------------------------------------------*/
@import "parts/testimonials";

/*------------------------------------------------------------------

  Pricing Table

-------------------------------------------------------------------*/
@import "parts/pricing-table";


/*------------------------------------------------------------------

  Instagram

-------------------------------------------------------------------*/
@import "parts/instagram";

/*------------------------------------------------------------------

  Twitter

-------------------------------------------------------------------*/
@import "parts/twitter";


/*------------------------------------------------------------------

  Magnific Popup

-------------------------------------------------------------------*/
@import "parts/magnific-popup";

/*------------------------------------------------------------------

  Slider Revolution

-------------------------------------------------------------------*/
@import "parts/slider-revolution";

/*------------------------------------------------------------------

  Isotope

-------------------------------------------------------------------*/
@import "parts/isotope";

/*------------------------------------------------------------------

  Sweet Alert

-------------------------------------------------------------------*/
@import "parts/sweet-alert";

/*------------------------------------------------------------------

  Social Likes

-------------------------------------------------------------------*/
@import "parts/social-likes";


/*------------------------------------------------------------------

  Footer

-------------------------------------------------------------------*/
@import "parts/footer";

/*------------------------------------------------------------------

  Preloader

-------------------------------------------------------------------*/
@import "parts/preloader";
