$edgt-first-color: #bba011;
$edgt-border-color: #ddd;
$edgt-separator-color: #ececec;
$edgt-title-background-color: #f1f1f1;
$first-break-point: 1000px;
$second-break-point: 782px;

$navigation-background-color: #111;